.infoContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.size{
    max-width: 400px;
    margin: 15px;
    height: 80%;
}

.img{
    border-radius: 10px;
    box-shadow: 0 0 30px #f1b50f;
    height: 600px;
    width: 400px;
}

@media (max-width: 560px) {
    .img{
        height: auto;
        width: 80%;
    }
}

.details{
    font-size: 1.5rem;
}

.item_one{
    margin-top: 0;
}